extends ./layout.pug

block append scripts
  script(src='/js/home.js')

block content
  h3 humidity
  table
    tr
      td sensor #1
      td#sen1
    tr
      td sensor #2
      td#sen2
    tr
      td sensor #3
      td#sen3

  h3 sprinkler
  button(id="sprinkler-switch") toggle state
  table
    tr
      td status
      td#status
