html
  head
    title!=title
    block styles
      link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css')

    block scripts
      script(src='http://code.jquery.com/jquery-2.2.4.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js')


    body
      #container
        block content